@model MovieSearch.Models.Movie.MovieModel

@{
    ViewData["Title"] = "Update";
}

<div id="updateForm">
    <h1>Update Movie </h1>
    <form method="post" class="form-group" id="updateMovieForm" action="Insert">
        <div>
            Movie ID :
            <input type="number" name="MovieId" class="form-control" />
        </div>
        <br />
        <div>
            Movie Name :
            <input type="text" name="MovieName" class="form-control" />
        </div>
        <br />
        <div>
            Release Year :
            <input type="number" name="ReleaseYear" class="form-control" />
        </div>
        <br />
        <div>
            Genre :
            <input type="text" name="Genre" class="form-control" />
        </div>
    </form>
    <input type="submit" value="Update" data-attr="update" />
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/update.js"></script>